<body>
  <div class="principal-table">
    <table border ="1">
      <caption><h3>{{userName}}</h3></caption>
      <tr>
        <th>{{coinQuantity}} Coins</th>
        <th>Vida {{lifeQuantity}}</th>
        <th>Stamina {{staminaQuantity}}</th>
      </tr>
    </table>
    
    <div class="title-div">
      <h1 class="title">BEHIND THE TREE</h1>
    </div>

    <div class="actions">
      <h3>{{lastAction}}</h3>
      <div class="action-button">
        <h3>{{currentAction}}</h3>
        <div class="buttons">
          <button (click)="playRound()">Play</button>
          <p>|||</p>
          <button (click)="sleepRound()" [disabled]="this.staminaQuantity > 60">Sleep</button>
        </div>
      </div>
    </div>
  </div>
</body>
