<body>
  <div class="principal-table">
    <table border ="1">
      <caption><h3>{{userData.userName}}</h3></caption>
      <tr>
        <th [class]="{
            'greenFlashText': actionsFlashLight.actionGreenPulseMoney === true,
            'redFlashText': actionsFlashLight.actionRedPulseMoney == true
          }">
        {{userData.coinQuantity}} Coins
        </th>

        <th [class]="{
          'greenFlashText': actionsFlashLight.actionGreenPulseLife == true,
          'redFlashText': actionsFlashLight.actionRedPulseLife == true
        }">
        Vida {{userData.lifeQuantity}}
        </th>

        <th [class]="{
          'greenFlashText': actionsFlashLight.actionGreenPulseStamina == true,
          'redFlashText': actionsFlashLight.actionRedPulseStamina == true
        }">
        Stamina {{userData.staminaQuantity}}
        </th>
      </tr>
    </table>
    
    <div class="title-div">
      <h1 class="title">BEHIND THE TREE</h1>
    </div>

    <div class="actions">
      <h3>{{lastAction}}</h3>
      <div class="action-button">
        <h3>{{currentAction}}</h3>
        <div class="buttons">
          <button (click)="playRound()">Play</button>
          <p>|||</p>
          <button (click)="sleepRound()" [disabled]="this.userData.staminaQuantity > 60">Sleep</button>
        </div>
      </div>
    </div>
  </div>
</body>
